@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem; /*16px*/
  color: #404040;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border: 1px solid red;
}

.app {
  background-image: url(cold-bg.jpg);
  background-size: cover;
  background-position: center;
  transition: 0.4 ease-out;
}

.main {
  border: 1px solid #efefef;
  min-height: 50vh;
  min-width: 350px;
  max-width: 400px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
}

.app-warm {
  background-image: url(warm-bg.jpg);
}

.form-container {
  padding: 1em;
  text-align: left;
}

.search-box {
  width: 100%;
  padding: 0.5em;
  border-radius: 1em;
  font-size: 1rem;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.4s ease;
}

.search-box:hover,
.search-box:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.submit-button {
  margin-left: 0.5em;
  font-size: 1rem;
  border: 0;
  padding: 0.5em 1em;
  border-radius: 2em;
  background: #2699ab;
  color: white;
  cursor: pointer;
  transition: background 500ms;
}

.submit-button:hover {
  background: #228999;
}

.location,
.temperature,
.day-type {
  margin: 0;
}

.location {
  font-size: 2rem;
  text-align: center;
  margin: 1em 0 2em;
  font-weight: 500;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  color: #fff;
}

.temperature {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.25em 0.5em;
  border-radius: 1em;
  color: #fff;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.day-type {
  margin-top: 2em;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.2);
}
